* {
    margin: 0px;
    padding: 0px;
}

:root {
    --theme-color1: rgba(250, 219, 57, 1);
    --box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
    --box-shadow-active: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

body {
    background: silver;
}

.header-bar {
    display: flex;
    width: 100%;
    background: var(--theme-color1);
    justify-content: space-between;
}

.header-bar-content {
    display: flex;
    align-items: center;
    padding: 6px;
}

.header-bar-logo img {
    width: 90px;
    height: auto;
}

.header-bar-menu {
    display: flex;    
}

.header-bar-menu-item {
    border-radius: 50%;
    padding: 3px;
    border: 1px solid white;
    margin-left: 24px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}

.header-bar-menu-item:active {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.header-bar-menu-item img {
    width: 24px;
    height: 24px;    
}

nav {
    padding: 9px;
    background: rgba(171, 177, 186, 0.6);
    border-radius: 6px;   
}

.nav-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
}

.nav-item {
    display: grid;
    place-items: center;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
    border-radius: 6px;    
}

.nav-item:active {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.nav-item img {
    width: 24px;
    height: 24px;    
}

.nav-item-desc {
    padding: 3px;
    font-size: 60%;
}

.menu-collection {
    padding: 6px;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    border-radius: 6px;
}

.menu-collection-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 1rem;
    place-items: center;
}

.menu-collection-item {
    background: var(--theme-color1);
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    border: 1px solid #FFFFFF;
    box-shadow: var(--box-shadow);
    border-radius: 12px;
}

.menu-collection-item:active {
    box-shadow: var(--box-shadow-active);
    color: var(--theme-color1);
    background: #FFFFFF;
}

.menu-collection-item-name {
    font-weight: bold;
    font-size: 1.5em;
}

.menu-collection-item-count {
    font-weight: bold;
}

.container {
    background: #FFFFFF;
}

section {
    padding: 24px;
}

.box-showcase1-title h1 {
    text-align: center;
}

.box-showcase1 {
    max-height: 30%;
    display: grid;
    place-items: center;
}

.box-showcase1-img img {
    max-height: 300px;
    border-radius: 12px;
}

.box-showcase1-desc {
    width: 100%;    
}

.box-showcase1-desc div {
    display: block;
    text-align: center;
    border-radius: 6px;
}

.boxes {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    place-items: center;
}

.box {
    display: grid;
    place-items: center;
    border: 1px solid silver;
    border-radius: 6px 6px 3px 3px;
}

.box-img {
    width: 100px;
    height: 100px;
    /*display: grid;*/
    overflow: hidden;    
}

.box-img img {
    width: 100%;
    max-height: 100%;
    border-radius: 6px;    
}

.box-desc-title {
    text-align: center;
    font-size: 0.6em;
}

.box-desc-body {
    font-style: italic;
    font-size: 0.6em;    
}

.box-price-discount div {
    background-color: red;
    color: #FFFFFF;
    padding: 6px;
    border-radius: 3px;
}

.box-price-norm {
    font-size: 0.6em;
    padding: 6px;
}

.glider-dot {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

/*styles for tablets*/
@media screen and (min-width: 768px) {
    
}

/*styles for computers*/
@media screen and (min-width: 992px) {
    .container {
        margin: 0px 240px;
        height: 100%;
    }

    
}
