:root {
	--wrapper-color: rgba(243, 246, 255, 1);
	--header-bar: rgba(0, 104, 255, 1);
}

* {
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
}

.nav-bar {
	background-color: var(--header-bar);
	padding: 6px;
	display: flex;
	justify-content: space-between;
}

.hamburger {
	background: #E9EBEC;
	font-size: 1.8em;
	color: var(--herader-bar);
	/*padding: 3px;	*/
	/*border-radius: 6px;*/
	cursor: pointer;
	box-shadow: 6px 6px 6px #000000;
}

.hamburger:active {
	box-shadow: 3px 3px 3px #000000;
}

.nav-bar-left {
	/*border: 1px solid green;*/
}

.nav-bar-mid {
	color: #FFFFFF;
	/*border: 1px solid red;*/
}

.nav-bar-right {
	/*border: 1px solid black;*/
}

.company-name {
	font-weight: bold;
}

.expiry {
	font-style: italic;
}

.settings-button {
	font-size: 1.8em;
	color: #FFFFFF;
	padding: 3px;
	cursor: pointer;
}

.wrapper {
	background: var(--wrapper-color);	
}

section {
	text-align: center;
	padding: 6px;
	padding-bottom: 30px;	
}

.page-title > h1 {
	text-align: left;
}

.sub-menu-bar {
	background: green;
}


.desc {
	text-align: left;
}

.desc div {
	margin-bottom: 24px;
}

.form {
	text-align: center;
	padding: 6px;
}

.title{
	margin-bottom: 0px;
}

.form input {
	margin: 12px auto;
	display: block;		
}

.medium {
	padding: 3px 18px;	
}

.input-error {
	background: red;
	color: white;
}

.modal-menu {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: silver;
	/*opacity: 0.9;*/
}

.modal-menu-header div {
	text-align: right;
	color: red;
	font-size: 3em;
}

.modal-menu-body {

}

.sub-menu-bar {
	position: relative;
	background: var(--header-bar);
	color: #FFFFFF;
}

.sub-menu {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: silver;
	opacity: 0.9;
}

.sub-menu-items-container {
	display: none;
}

.sub-menu-items {
	display: flex;
	justify-content: center;	
}

.sub-menu-item {
	display: none;
	border: 1px solid #FFFFFF;
	margin: 12px;
	width: 120px;
	height: 120px;
	background: var(--header-bar);
	display: grid;
	place-items: center;
	color: white;
	font-weight: bold;
	border-radius: 6px;
	box-shadow: 6px 6px 6px black;
}

.sub-menu-item:active {
	background: #FFFFFF;
	color: var(--header-bar);
	box-shadow: 3px 3px 3px black;
}

#search-form {
	display: none;
	padding: 12px;	
	background: var(--header-bar);
}

#search-form > input {
	background: none;
	border: none;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#search-form > button {
	padding: 3px 12px;
}

#sort-form {
	display: none;
	padding: 12px;
	background: var(--header-bar);
}

.cards {
	display: grid;
	grid-gap: 1rem;
    grid-template-columns: 1fr;
    padding: 30px;
}

.card {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 12px;    
}

.card > div {
	margin: 6px;
}

.card-title h2 {
	text-align: center;
}

.card-title div {
	text-align: center;
    font-size: 3em;
}

.card-body {
	padding-top: 12px;
}

.card-command {
	padding: 12px;
	text-align: center;
}

.counter {
	width: 60px;
	height: 60px;
	background-color: #FFFFFF;
	border-radius: 12px;
	color: black;
	text-align: center;
	display: grid;
	place-items: center;
}

.counter div {
	font-size: 1.2em;
}

.boxes {
	display: grid;
	grid-gap: 12px;
    grid-template-columns: 1fr;
    padding: 12px;    
    text-align: center;
}

.box {
	cursor: pointer;	
	position: relative;	
}

.box:active	{
	background: red;
	color: white;
}

.box-header {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	background: #FFFFFF;
	color: var(--header-bar);
	height: 36px;
}

.box-img {
	display: grid;
	place-items: center;	
}

.box-img > div {
	width: 100%;
	height: 180px;

}

.box-img > div > img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.box-img > div > button {
	width: 100%;
	height: 180px;
	border: 0;
}

.box-label {
	position: relative;
	bottom: 0;
	width: 100%;
	left: 0;
	background: var(--header-bar);
	color: #FFFFFF;
	display: grid;
	place-items: center;
	height: 48px;
}

#Brands-card {
	background-color: var(--header-bar);
	color: #FFFFFF;
}

.form > form > div > label {
	padding: 3px 12px;
	border: 1px solid #FFFFFF;
	box-shadow: 6px 6px 6px black;
}

.form > form > div > label:active {
	box-shadow: 3px 3px 3px black;
}

.form > form > div > button {
	padding: 6px 18px;
}

.image_preview {
	margin-top: 24px;
	margin-bottom: 12px;
}

.image_preview img {
    max-width: 90%;
}

.page-button {
	width: 33px;
	height: 33px;
	margin-right: 12px;
	font-size: 1.2em;
}

.page-button:disabled {
	color: black;
	background: #FFFFFF;
}

/*styles for tablets*/
@media screen and (min-width: 768px) {
    .cards {
    	grid-template-columns: repeat(1, 1fr);
    }

    .boxes {
    	grid-template-columns: repeat(3, 1fr);
    }

    .page-button {
		width: 66px;
		height: 66px;
		margin-right: 12px;
		font-size: 2em;
	}

}
/*styles for computers*/
@media screen and (min-width: 992px) {
    .cards {
    	grid-template-columns: repeat(2, 1fr);
    }

    .boxes {
    	grid-template-columns: repeat(5, 1fr);
    }

    .sub-menu-switch {
    	display: none;
    }

    .sub-menu-items-container {
	display: block;
	/*background: var(--header-bar);*/
	}

	.sub-menu-items {
		justify-content: left;
	}

	.sub-menu-item {
		width: 120px;
		height: 30px;
		background: var(--header-bar);
		display: grid;
		place-items: center;
		color: white;
		font-weight: bold;
		border-radius: 6px;
		box-shadow: 6px 6px 6px black;
	}

	.page-button {
		width: 99px;
		height: 99px;
		margin-right: 12px;
		font-size: 3em;
	}
}
